:root {
  --header-color: #eee;
  --header-text-color: #222;
  --intro-color: #0039b3; /*#17F;*/
  --intro-text-color: #fff;
  --link-color:  #0039b3;
  --hover-color: #1a62ff;
  --page-back-color: #fff;
  --page-back-color-even: #eee;
  --tile-content-color: #fff;
  --footer-color: #eee;
  --footer-text-color: #222;
  --color-wip: #eff4ff;
  --color-beta: #ccdcff;
  --color-released: #99b9ff;
  --color-eos: #ff661a;
  --border-radius: 5px;
}

* { box-sizing: border-box }

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a { font-weight: bold; text-decoration: none; color: var(--link-color); }
a:hover { color: var(--hover-color); opacity: 0.7; }

header {
  background-color: var(--header-color); color: var(--header-text-color);
  width:100%; padding: 0 1rem;
  display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: center;
}
header div { padding: 1em }
header div:last-child { margin-left: auto }

section.intro {
  display: block; clear: both;
  font-size: 2vw; font-weight: normal;
  background-color:var(--intro-color); color: var(--intro-text-color);
  text-align: center;
  padding: 2rem;
}

.tiles      { background-color: var(--page-back-color) }
.tiles-even { background-color: var(--page-back-color-even) }

.row-title { display: flex; align-items: center }
.row-title div { flex: 0 0 content }
.row-title div:first-child { padding: 0.5rem 1rem; font-size: 1.4rem }
.row-title div:last-child { margin-left: auto; padding-right: 1em }
.row { display: flex; flex-wrap: wrap; align-items: stretch ; }
.row:before,.row:after { content:""; display:table; clear:both }

.flexc { display: flex; flex-direction: column; flex: 0 0 content }
.flexr { display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: center }

.tile {
  display: flex; flex-direction: column; align-items: stretch;
  margin: 0 0 8px 12px;
  border: 1px solid rgba(160, 160, 160, 0.4);
  border-radius: var(--border-radius);
  background-color: var(--tile-content-color);
}
.tile-w1 { flex: 0 0 320px }
.tile-w2 { flex: 0 0 486px }
.tile-w3 { flex: 0 0 652px }

.tile-top {
  display: flex; flex-wrap: wrap; align-items: center;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.tile-top div:first-child { margin-right: auto }
.tile-title { font-size: 1.1em; font-weight: bold }
.tile-status { font-style: italic }
.tile-content { padding: 0.5em 1em }
.tile-content ul { padding: 0 0 0.5em 1em; margin: 0 }
.tile-content p { padding: 0 0 0.5em 0; margin: 0 }

.article-row {
  display: flex; flex-direction: column;
  margin: 0 0 1em 1em;
}
.article-tile {
  padding: 0 1em 0.8em 1em;
}

.status-wip { background-color:var(--color-wip) }
.status-beta { background-color:var(--color-beta) }
.status-released { background-color:var(--color-released) }
.status-eos { background-color:var(--color-eos) }

footer {
  background-color:var(--footer-color)!important; color:var(--footer-text-color)!important;
  width: 100%; padding: 1rem;
  display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;
}
footer div:last-child { margin-left: auto }

.article-body {
  padding: 1rem;
}
.article-body p { padding: 0.5rem 0 0.5rem 0; margin: 0 }
.article-body div { padding: 0.5rem 0 0.5rem 0;}

.code-title {
  font-style: italic;
  padding-bottom: 0!important;
  padding-left: 1rem!important;
  margin-left: 1rem!important;

}

pre[class]::before {
  content: 'highlight: ' attr(class);
  display: block;
  text-align: right;
}

pre {
  border: 1px solid red;
  border-left: 0.5rem solid lightgreen;
  box-sizing: border-box;

  font-family: monospace;
  font-size: 1rem;
  padding: 6px 1rem!important;
  margin: 0 0 0 1rem!important;
	overflow: auto;
  color: black;
  background-color: white;
  white-space: pre-line;
}

@media screen and (max-width: 800px) {
  section.intro { font-size: 16px }
}
