:root {
  --color-back-1: #313033;
  --color-onback-1: #eee;

  --color-back-2: #ffffff;
  --color-onback-2: #111;

  --color-back-3: #dddddd;
  --color-onback-3: #111;

  --color-title: #ff0;
  --color-subtitle: #ff0;

  --main-tile-width: 335px; /* value restricted for media query */
  --main-tile-gap: 8px;

  --color-surface-1: #414044;
  --color-surface-2: #bbb;

  --color-primary: rgb(255, 51, 255); /* ff33ff */
  --color-secondary: rgb(63, 0, 63); /* cc00cc */
}

/* --- */

* { box-sizing: border-box }

html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Helvetica,Arial,sans-serif;
  font-size: 16px; font-weight: 400;
  line-height: 1.25;
  padding: 0;
}
body {
  margin: 0;
}

.theme1 {
  background-color: var(--color-back-1); color: var(--color-onback-1);
  --color-title: #fff; --color-subtitle: #ddd;
  --color-surface: var(--color-surface-1);
  --color-focused: var(--color-back-1);
}
.theme2 {
  background-color: var(--color-back-2); color: var(--color-onback-2);
  --color-title: #000; --color-subtitle: #222;
  --color-surface: var(--color-surface-2);
  --color-focused: var(--color-onback-2);
}
.theme3 {
  background-color: var(--color-back-3); color: var(--color-onback-3);
  --color-focused: var(--color-onback-3);
}

a { font-weight: bolder; text-decoration: none; color: var(--color-primary); }
a:hover { color: var(--color-focused); border-bottom: 2px solid var(--color-primary); }

section::after { content: ""; clear: both; display: table }

p { margin: 0 }

.no-wrap { white-space: nowrap }

/* --- */

section.top {
  margin: 0; padding: 0;
  width: 100%;
  display: flex; flex-direction: row; align-items: stretch;
}
div.logo {
  padding: 1rem 2rem;
  flex: 0 0 auto;
}
div.logo a { color: inherit; background-color: inherit; text-decoration: none }
.logo-title { font-size: 2rem; font-weight: 700 }
.logo-subtitle { font-size: 1.2rem; color: var(--color-primary); animation: logo-fade 5s }
@keyframes logo-fade {
  from { opacity: 0 }
  to { opacity: 1 }
}
div.topnav {
  margin: 0 1rem 0 auto;
  display: flex; flex-direction: row; align-items: stretch;
}
div.topnav a {
  padding: 1rem;
  color: inherit; background-color: inherit; text-decoration: none;
  flex: 0 0 auto; display: flex; align-items: center;
}
div.topnav a:hover {
  color: var(--color-primary); border-bottom: none;
}

/* --- */

section.intro {
  width: 100%;
  position: relative;
  display: flex; flex-direction: column; justify-content: center; align-items: center;
}
div.intro {
  text-align: center;
  padding: 2rem 0; margin: 0 auto;
}
p.intro-title { font-size: 3rem; font-weight: 500; color: var(--color-title) }
p.intro-sub { font-size: 1.8rem; font-weight: 400; color: var(--color-subtitle) }

/* --- */

section.warning {
  text-align: center;
  font-size: 1.2rem; font-weight: 400;
  padding: 1rem;
  background-color: var(--color-back-1); color: var(--color-primary);
  animation: warning-fade 7s infinite;
}
@keyframes warning-fade {
  0%   { color: var(--color-primary) }
  50%  { color: var(--color-onback-1) }
  100% { color: var(--color-primary) }
}

/* --- */

section.main-tiles {
  margin: 2rem 0;
  width: 100%;
}
div.main-tiles {
  margin: 0 var(--main-tile-gap);
  display: grid; gap: var(--main-tile-gap);
  grid-template-columns: 1fr;
}
.main-tile, .main-tile-big {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--color-surface);
}
.main-tile-title { font-size: 1.2em; font-weight: 500; color: var(--color-title) }

/* need to fit 2 tiles */
@media (min-width:768px) {
  div.main-tiles { grid-template-columns: 1fr 1fr }
  .main-tile-big { grid-column: span 2; grid-row: span 1 }
}
/* need to fit 3 tiles */
@media (min-width:1024px) {
  div.main-tiles { grid-template-columns: repeat(3, 1fr) }
  .main-tile-big { grid-column: span 2; grid-row: span 2 }
}
/* need to fit 4 tiles */
@media (min-width:1366px) {
  div.main-tiles { grid-template-columns: repeat(4, 1fr) }
  .main-tile-big { grid-column: span 2; grid-row: span 1 }
}

.main-tile-ul { list-style: none; margin: 0.5rem 0; padding-left: 1rem;}

/* --- */

section.footer {
  margin-top: auto;
  padding: 2rem 1rem;
  display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;
}
section.footer a { font-size: 1.2rem }

/* --- */

.note-name {
  width: 100%;
  font-size: 3rem; font-weight: 500;
  text-align: center;
  padding: 1em 2em;
  position: relative;
}
.note-home {
  position: absolute; right: 0; top: 2rem;
  height: 4rem;
  padding: 0 1rem 0 1.5rem;
  font-size: 1.7rem; font-weight: 400;
  background-color: var(--color-surface);
  display: flex; align-items: center; justify-content: center;
  border-radius: 1rem 0 0 1rem;
}
.note-home a { color: inherit; background-color: inherit }
.note-home a:hover { color: var(--color-primary); border-bottom: none }

.note-body {
  margin: 2rem auto;
  max-width: 1024px;
}
.note-body > p { padding-bottom: 0.7rem }
.note-body > ul { margin: 0; padding: 0 0 0.7rem 2rem }
.chapter1 {
  font-size: 2rem; font-weight: 600;
  text-align: center;
}
.chapter2 {
  font-size: 1.3rem; font-weight: 600;
}

/* --- */

.grad {
  background:linear-gradient(180deg, red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
