:root {
  --color-background: #121212;
  --color-surface: rgba(21, 101, 192, 0.08);
  --color-surface-12: rgba(21, 101, 192, 0.12);
  --color-surface-16: rgb(47,57,81);
  --color-surface-24: rgba(21, 101, 192, 0.24);
  --color-surface-40: rgba(21, 101, 192, 0.40);
  --color-primary: rgb(255, 51, 255); /* ff33ff */
  --color-secondary: rgb(63, 0, 63); /* cc00cc */
  --color-on-background: #FFFFFF;
  --color-on-surface:    rgba(255, 255, 255, 0.9);
  --color-on-primary:    #FFFFFF;
  --color-on-secondary:  #FFFFFF;
  --color-on-surface-90: rgba(255, 255, 255, 0.9);
  --color-on-surface-80: rgba(255, 255, 255, 0.8);
  --color-on-surface-70: rgba(255, 255, 255, 0.7);
  --color-on-surface-60: rgba(255, 255, 255, 0.6);
  --color-on-surface-40: rgba(255, 255, 255, 0.4);

  --color-focused: rgba(21, 101, 192, 0.12);
  --color-elevated: rgba(21, 101, 192, 0.16);

  --color-wip: transparent;
  --color-beta: transparent;
  --color-released: transparent;
  --color-eos: transparent;

  --header-height: 100px;
  --border-radius: 5px;
}

* { box-sizing: border-box }

html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Helvetica,Arial,sans-serif;
  font-size: 16px; font-weight: 400;
  line-height: 1.25;
  padding: 0;
}
body {
  background-color: var(--color-background); color: var(--color-on-background);
  margin: 0;
  overflow: auto;
}

html, body { height: 100% }

div.full-screen {
  width: 100%; height:100%;
  animation: logo-fade 3s;
}

a { font-size: 1.2rem; font-weight: 500; text-decoration: none; color: var(--color-primary); }
a:hover { color: var(--color-on-background); background-color: var(--color-focused); }

p { margin: 0 }

.primary-color { color: var(--color-primary) }
.secondary-color { color: var(--color-secondary) }

section.intro {
  margin: 0 auto 2rem auto;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex; flex-direction: column;
}
section.intro:before, section.intro:after { content: ""; clear: both; display: table }

div.intro-left {
  display: flex; flex-direction: column;
  padding: 1rem;
}
div.intro-right {
  display: flex; flex-direction: column; align-items: center; justify-content: center;
  padding: 1rem;
}
div.half { float: left; width: 100% }

div.logo {
  flex: 0 0 auto;
  padding: 1rem;
  margin-bottom: auto;
}
.logo-title { font-size: 2rem; font-weight: 700; color: var(--color-on-background) }
.logo-subtitle { font-size: 1.2rem; color: var(--color-primary); animation: logo-fade 5s }

@keyframes logo-fade {
  from { opacity: 0 }
  to { opacity: 1 }
}

div.about-site {
  text-align: left;
  padding: 0 1rem; margin: auto 0;
  z-index: -1;
}
h1, h2, h3 {
  font-weight: 700;
  padding: 0 0 1rem 0;
  margin: 0;
}
h1 { font-size: 3rem; color: var(--color-on-surface-80) }
h2 { font-size: 2.3rem; color: var(--color-on-background) }
h3 { font-size: 1.5rem; color: var(--color-on-surface-70) }

div.footer {
  margin-top: auto;
  padding: 2rem 1rem;
  animation: logo-fade 3s;
}
div.intro-footer {
  display: none;
}
div.bottom-footer {
  display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;
}

div.Tile {
  background-color: var(--color-surface); color: var(--color-on-surface);
  width: 100%;
  position: relative;
  display: flex; flex-direction: column;
  padding: 0.5rem; margin: 1rem 0;
  border-radius: 11px;
}
div.Tile:hover { background-color: var(--color-surface-12) }
div.TileRight { text-align: right }
div.TileTitle {
  flex: 0 0 auto;
  font-size: 1.8rem; font-weight: 500; color: var(--color-on-surface-70);
  padding: 0.5rem;
  position: relative;
}
div.TileTitle::first-letter { color: var(--color-primary) }
div.TileContent {
  padding: 0.5rem;
  font-size: 1.3rem;
}
div.TileContent > ul { margin: 0; padding-left: 1.5rem; list-style-type: none }
.TileSep { background-color: var(--color-surface-40); margin: 0 1rem }

/*
div.TileTitle::before {
  background-image: linear-gradient(90deg, var(--color-on-surface), var(--color-primary));
  content: "";
  position: absolute; bottom:0; right:0; width: 70%; height: 1px;
}
*/

.no-wrap {
  white-space: nowrap;
}

.grad {
  background:linear-gradient(180deg, red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 801px) {
body { overflow: hidden }
div.half { width: 49.99999% }
section.intro { flex-direction: row }
h1 { font-size: 4rem; color: var(--color-on-surface-80) }
h3 { font-size: 2rem; color: var(--color-on-surface-70) }
div.intro-footer { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center }
div.bottom-footer { display: none }
}
