@charset "utf-8";

.page-footer {
  margin-top: auto;
  padding: $spacing-unit;
  color: $footer-color;
  background-color: $footer-bg-color;
  width: 100%;

  display: flex;
  flex-direction: column; align-items: flex-start; justify-content: flex-start;

  font-size: 0.9rem;

  @include media-tablet  { flex-direction: row; align-items: stretch; flex-wrap: nowrap; }
  @include media-desktop { flex-direction: row; align-items: stretch; flex-wrap: nowrap; font-size: 1rem; }

  p { margin: 0 }

  &-left  { flex: 0 1 auto; margin: 0; }
  &-right { flex: 0 0 auto; margin: 0 0 0 auto; padding-left: $spacing-unit;
    display: flex; flex-direction: column; align-items: flex-end;
  }
}
