@charset "utf-8";

.page-header {
  color: $color-on-surface;
  background-color: $color-surface;
  margin-bottom: $spacing-unit;
  padding: $spacing-unit;
  min-height: $header-height;
  display: flex; flex-direction: row; align-items: stretch;

  h1 { margin: auto 0 }

  a {
    color: $link-color-surface;
    &:hover { border-bottom: 2px dotted $link-color-surface }
  }

  &-left {
    display: flex; flex-direction: column; align-items: flex-start;
  }
  &-right {
    margin-left: auto;
  }
}
