@charset "utf-8";

.home {
  $text-color-left:  #47476b !default;
  $bg-color-left:    #eee !default;
  $text-color-right: #eee !default;
  $bg-color-right:   #669 !default;

  $link-color-left:  #600080 !default;
  $link-color-right: #e699ff !default;

  flex: 1 1 auto;
  display: flex; flex-direction: row; align-items: stretch;

  p, h1, h2, h3 { margin: 0 }

  &-left, &-right {
    width: 50%;
    display: flex; flex-direction: column;
    padding: $spacing-unit;
  }
  &-left  { color: $text-color-left;  background-color: $bg-color-left;  a { color: $link-color-left }  }
  &-right { color: $text-color-right; background-color: $bg-color-right; a { color: $link-color-right } }

  &-title {
    border-bottom: 1px solid $text-color-left;
    padding-bottom: $spacing-unit;
  }

  &-left-content {
    padding-top: $spacing-unit;
    flex: 1 1 auto;
    direction: rtl;
    display: flex;
  }

  &-left-data  { margin: auto 0; li { margin-right: calc(2 * #{$spacing-unit}) } }
  &-right-data { margin: auto 0; li { margin-left: $spacing-unit } }

  &-right-content {
    padding-bottom: $spacing-unit;
    flex: 1 1 auto;
    display: flex;
  }

  &-footer {
    border-top: 1px solid $text-color-right;
    padding-top: $spacing-unit;
    display: flex; flex-direction: row; flex-wrap: wrap;
    overflow: hidden;

    div { padding-left: $spacing-unit }

    div:first-child {
      margin-right: auto;
      padding-left: 0;
    }
  }
}
