@charset "utf-8";

.home {
  $max-width-px: 400px;

  flex: 1 1 auto;
  display: flex; flex-direction: column; align-items: stretch;
  @include media-tablet-plus  { flex-direction: row }

  p, h1, h2, h3 { margin: 0 0 0.3rem 0 }

  a { font-weight: inherit; text-decoration: none }

  &-column {
    display: flex; flex-direction: column;
    padding: $spacing-unit calc(2 * #{$spacing-unit});
  }

  &-w-limited, &-w-max, &-w-half { width: 100% }
  @include media-tablet-plus {
    &-w-limited { max-width: $max-width-px }
    &-w-half { width: 50% }
  }

  &-light {
    color: $color-on-back; background-color: $color-back;
    a {
      color: $link-color;
      &:hover { border-bottom: 2px dotted $link-color; }
    }
  }
  &-dark {
    color: $color-on-surface;  background-color: $color-surface;
    a {
      color: $link-color-surface;
      &:hover { border-bottom: 2px dotted $link-color-surface; }
    }
  }

  &-align-center { text-align: center }
  &-align-right  { text-align: right }

  &-no-flex { flex: 0; margin: 0 }
  &-flex { flex: 0 1 auto; margin: auto 0;}
  &-data { padding-bottom: $spacing-unit }

  &-border-top    { border-top:    solid 1px $color-surface }
  &-border-bottom { border-bottom: solid 1px $color-surface }
}
