@charset "utf-8";

$base-lightness:     50%; // keep lightness to 50%
$base-color:         hsl(240,  23%, $base-lightness) !default;
$base-link-color:    hsl(285, 35%, 35%) !default;

$color-back:         adjust-color($base-color,      $lightness: +40%) !default;
$color-on-back:      adjust-color($base-color,      $lightness: -10%) !default;
$link-color:         $base-link-color !default;

$color-surface:      $base-color !default;
$color-on-surface:   adjust-color($base-color,      $lightness: +45%) !default;
$link-color-surface: adjust-color($base-link-color, $lightness: +50%, $saturation: +50%) !default;

$color-tag:          adjust-color($base-color,      $lightness: +10%) !default;
$color-on-tag:       adjust-color($base-color,      $lightness: +45%) !default;
