<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="home">
    <div class="home-column home-light home-w-limited">
      <div class="home-data home-no-flex home-align-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="home-data home-flex home-align-right">
      <h2>pax-devices</h2>
      <p><a href="">pax-Gateway</a> / <a href="">pax-DLED</a> / <a href="">pax-DLEDGrid</a></p>

      <h2>Code library</h2>
      <p><span class="no-wrap"><a href="">ESP-IDF components</a></span> / <a href="">Generic</a> / <a href="">STM32</a></p>

      <h2>Robotics</h2>
      <p>many years ago I have built some robots but only two of those survived</p>

      <h2>About</h2>
      <p><a href="/about/">About</a></p>
      </div>

      <div class="home-data home-no-flex home-align-center">
        <p>&copy; 2019 - present <span class="no-wrap"><a href="https://github.com/{{ site.github_username }}">Calin Radoni</a></span></p>
      </div>
    </div>

    <div class="home-column home-dark home-w-max">
      <div class="home-data home-flex">
        <h1>Professional experience</h1><br/>
        <h2>Networking</h2>
        <ul>
          <li>Routers and switches: Cisco, Allied Telesys, HP, D-Link, TP-Link</li>
          <li>Access Points: UniFi, MikroTik, Linksys</li>
          <li>Security devices: Cisco ASA, Check Point, UniFi Security Gateway Pro
        </ul>
        <h2>Linux</h2>
        <ul>
          <li>Debian: File server, Backup server, Jump box, NTP Server, Firewalls, Nagios, Suricata + ELK Stack</li>
          <li>Kali, Ubuntu, CentOS</li>
        </ul>
        <h2>Windows</h2>
        <ul>
          <li>Active Directory</li>
          <li>Hyper-V Server</li>
        </ul>
        <h2>VoIP</h2>
        <ul>
          <li>Unify OpenScape, Siemens Hipath</li>
        </ul>
      </div>
    </div>
    </div>
  </body>
</html>
