<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="home">
    <div class="home-left">
      <div class="home-title"><h1>{{ page.title }}</h1></div>
      <div class="home-left-content">
        <div class="home-left-data">
        <h1>Personal</h1><br/>
        <h2>pax-devices</h2>
        <ul>
          <li>pax-Gateway</li>
          <li>pax-DLED</li>
          <li>pax-DLEDGrid</li>
        </ul>
        <h2>Code library</h2>
        <ul>
          <li>ESP-IDF components</li>
          <li>Generic</li>
          <li><a href="">STM32</a></li>
        </ul>
        <h2>Robotics</h2>
        <ul>
          <li>many years ago I have built some robots ...</li>
          <li>... but only two of those survived</li>
        </ul>
        </div>
      </div>
    </div>
    <div class="home-right">
      <div class="home-right-content">
        <div class="home-right-data">
          <h1>Professional</h1><br/>
          <h2>Networking</h2>
          <ul>
            <li>Routers and switches: Cisco, Allied Telesys, HP, D-Link, TP-Link</li>
            <li>Access Points: UniFi, Mikrotik, Linksys</li>
            <li>Security devices: Cisco ASA, Check Point, UniFi Security Gateway Pro
          </ul>
          <h2>Linux</h2>
          <ul>
            <li>Debian: File server, Backup server, Jump box, NTP Server, Firewalls, Nagios, Suricata + ELK Stack</li>
            <li>Kali, Ubuntu, CentOS</li>
          </ul>
          <h2>Windows Server</h2>
          <ul>
            <li>Active Directory</li>
            <li>Hyper-V Server</li>
          </ul>
          <h2>VoIP</h2>
          <ul>
            <li>Unify OpenScape, Siemens Hipath</li>
          </ul>
        </div>
      </div>
      <div class="home-footer">
        <div>&copy; 2019 - present <span class="no-wrap"><a href="https://github.com/{{ site.github_username }}">Calin Radoni</a></span></div>
        <div><a href="about">About</a></div>
      </div>
    </div>
    </div>
  </body>
</html>
