<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="home">
    <div class="home-column home-light home-w-limited">
      <div class="home-data home-no-flex home-align-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="home-data home-flex home-align-right">
      <h2>pax-devices</h2>
      <p><a href="/pax-Gateway/">pax-Gateway</a> / <a href="/pax-DLED/">pax-DLED</a> / <a href="/pax-DLEDGrid/">pax-DLEDGrid</a></p>

      <h2>Code library</h2>
      <p><span class="no-wrap"><a href="">ESP-IDF components</a></span> / <a href="">Generic</a> / <a href="">STM32</a></p>

      <h2>Robotics</h2>
      <p>many years ago I have built some robots but only two of those survived</p>

      <h2>About</h2>
      <p><a href="{% link pages/about.md %}">About</a></p>
      </div>

      <div class="home-data home-no-flex home-align-center">
        <p>&copy; 2019 - present <span class="no-wrap"><a href="https://github.com/{{ site.github_username }}">Calin Radoni</a></span></p>
      </div>
    </div>

    <div class="home-column home-dark home-w-max">
      <div class="home-data home-flex">
        <ul>
          {%- assign item_list = site.posts | sort | reverse -%}
          {%- for post in item_list limit:10 -%}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
              {{ post.excerpt }}
            </li>
          {%- endfor -%}
        </ul>
      </div>
      <div class="home-data home-no-flex">
        <div class="tag-container">
          <a class="" href="{% link pages/categories.md %}">Categories</a>
          <a href="{% link pages/tags.md %}">Tags</a>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
